@model EquipamentoModel
@{
    ViewData["Title"] = "Deletar Equipamento";
}

<div class="text-center">
    <h3>Deseja realmente deletar o equipamento(@Model.Nome )?</h3>
</div>

<div class="text-center">
    <a class="btn btn-success" role="button" asp-controller="GerenciarEquipamento" asp-action="Index">Cancelar</a>
    <a class="btn btn-danger" role="button" asp-controller="GerenciarEquipamento" asp-action="Deletar" asp-route-id="@Model.Id">Confirmar</a>
</div>

