@model List<EquipamentoModel>
@{
    ViewData["Title"] = "Visualizar Equipamento";
}

<div class="text-center">

    <div class="d-flex justify-content-between">
        <a class="btn btn-danger" role="button" asp-controller="TelaAluno" asp-action="Index">Voltar</a>
    </div>

    <br />


    <h1>Listagem de Equipamentos</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (EquipamentoModel equipamento in Model)
                {
                    <tr>
                        <th scope="row">@equipamento.Id</th>
                        <td>@equipamento.Nome</td>
                        <td>@equipamento.SituacaoEquipamento</td>
                        <td>
                        </td>
                    </tr>

                }

            }
        </tbody>
    </table>

</div>

<style>
    .close-alert {
        position: absolute;
        right: -10px;
        top: -15px;
        border-radius: 15px;
        width: 30px;
        height: 31px;
    }
</style>




