@{
    ViewData["Title"] = "Portal";
}

<div class="text-center">
       <img src="/imagens/uvafit.png" height="200"/>
</div>

<html>
    <body style="background-image:url('https://couraadvocacia.com.br/wp-content/uploads/2020/12/weight-lifting-1284616_1920-980x653.jpg'); 
                 background-repeat: no-repeat; 
                 background-attachment: fixed; 
                 background-size: cover;">
        <h1 style="color:yellow">Venha ser a melhor versão de você!</h1>
    </body>
</html>

