* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  background: linear-gradient(to top, #004b78, #4ad0a6);
  line-height: 1.2;
  color: #303030;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9999;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  background-color: white;
  box-shadow: 0 0 20px 5px #4ad0a6;

  a {
    text-decoration: none;

    & div {
      display: flex;
      gap: 1rem;

      & .circulo {
        position: absolute;
        top: 0;
        margin-top: 2.8rem;
        left: 16.5rem;
        transform: translateX(-50%);
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: #ffd000;
      }

      & .fit {
        text-transform: uppercase;
        font-size: 3rem;
        padding-top: 1rem;
        font-weight: 700;
        z-index: 99;
        color: black;
      }

      & .uva {
        text-transform: uppercase;
        font-size: 5rem;
        font-weight: 700;
        color: #004b78;
      }
    }
  }

  & p {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #004b78;
  }
}

.login {
  display: flex;
  justify-content: center;
  margin: 23.4rem;

  & .container {
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    height: 45rem;
    width: 45rem;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 0 0 20px 5px #4ad0a6;
    border-radius: 5rem;

    & .botoesform {
      margin-top: 4rem;
      position: absolute;
      top: 0;
      border-radius: 3rem;
      box-shadow: 0 0 7px 0 #004b78;

      & button {
        cursor: pointer;
        background: transparent;
        border: none;
        color: #004b78;
        position: relative;
        padding: 1.5rem 3.5rem;
        font-size: 2rem;
        font-weight: 700;
      }

      & .botaocolor {
        position: absolute;
        width: 15rem;
        height: 100%;
        background-color: #ffd000;
        border-radius: 3rem;
        transition: 0.3s;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.514);
      }
    }

    .input-principal {
      font-weight: 600;
      color: #004b78;

      & form {
        margin-top: 10rem;
        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: 1.5rem;
        text-align: center;

        & .botao-input {
          border-radius: 3rem;
          padding: 1.5rem 3rem;
          border: none;
          color: rgb(0, 0, 0);
          box-shadow: 0 0 20px 0 darkgray;
          text-align: center;

          &:focus {
            outline: none;
          }
        }

        & .botao-enviar {
          color: #004b78;
          padding: 1.5rem 3rem;
          border-radius: 3rem;
          border: none;
          background-color: #ffd000;
          font-size: 1.8rem;
          text-transform: uppercase;
          font-weight: 700;
          margin-top: 0.5rem;
          cursor: pointer;
          border-bottom: solid 0.4rem #004b78;
          border-right: solid 0.4rem #004b78;
          border-top: 0;
          border-left: 0;


          & a {
            text-decoration: none;
            color: #004b78;
            font-weight: 700;
            font-size: 1.8rem;
            padding: 1.5rem 7rem;
          }
        }

        & .botao-enviar:hover {
          color: #004b78;
          padding: 1.5rem 3rem;
          border-radius: 3rem;
          border: none;
          background-color: #ffd000;
          font-size: 1.8rem;
          text-transform: uppercase;
          font-weight: 700;
          margin-top: 2rem;
          cursor: pointer;
        }

        & .botao-enviar:active {
          color: #ffd000;
          padding: 1.5rem 3rem;
          border-radius: 3rem;
          border: none;
          background-color: #004b78;
          font-size: 1.8rem;
          text-transform: uppercase;
          font-weight: 700;
          margin-top: 2rem;
          cursor: pointer;

          & a {
            text-decoration: none;
            color: #ffd000;
            font-weight: 700;
            padding: 1.5rem 7rem;
          }

        }

      }





      & a {
        color: grey;
        font-size: 1.5rem;
      }
    }
  }
}

.matricula {
  display: flex;
  justify-content: center;
  margin: 15rem;
  margin-top: 30rem;

  & .caixa-matricula {
    box-shadow: 0 0 20px 5px #4ad0a6;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 60%;
    border-radius: 2.5rem;
    padding: 5rem;
    color: black;
    font-weight: 700;

    & h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
      color: #004b78;
      text-decoration: underline;
    }

    & form {
      display: flex;
      flex-flow: column;
      gap: 2rem;
      color: #004b78;
      font-size: 1.6rem;
      text-transform: uppercase;

      & div {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
      }

      & .informacoes-primarias {
        margin-bottom: 2rem;
        display: flex;
        flex-flow: column;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;

        & .botao-input {
          border-radius: 3rem;
          padding: 1.5rem 3rem;
          border: none;
          color: rgb(0, 0, 0);
          box-shadow: 0 0 20px 0 darkgray;
          text-align: center;

          &:focus {
            outline: none;
          }
        }

        & .data-nascimento {
          padding: 1rem;
          border-radius: 2rem;
          border: 1px solid black;
        }
      }

      & .enviar-atestado {
        display: flex;
        flex-flow: column;
        align-items: center;
      }

      & .botao-enviar {
        width: 40%;
        margin-left: 30%;
        color: #004b78;
        padding: 1.5rem 3rem;
        border-radius: 3rem;
        border: none;
        background-color: #ffd000;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 0.5rem;
        cursor: pointer;
        border-bottom: solid 0.4rem #004b78;
        border-right: solid 0.4rem #004b78;
        border-top: 0;
        border-left: 0;
      }

      & .botao-enviar:hover {
        color: #004b78;
        padding: 1.5rem 3rem;
        border-radius: 3rem;
        border: none;
        background-color: #ffd000;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 2rem;
        cursor: pointer;
      }

      & .botao-enviar:active {
        color: #ffd000;
        padding: 1.5rem 3rem;
        border-radius: 3rem;
        border: none;
        background-color: #004b78;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 2rem;
        cursor: pointer;
      }

      & .perguntas-formulario {
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;

        & .botao-input {
          border-radius: 3rem;
          padding: 1.5rem 3rem;
          border: none;
          color: rgb(0, 0, 0);
          box-shadow: 0 0 20px 0 darkgray;
          text-align: center;

          &:focus {
            outline: none;
          }
        }

        & .checkbox-formulario {
          gap: 3rem;
        }
      }
    }
  }
}

.planos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;

  & .caixa-container-planos {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    background-color: whitesmoke;
    border-radius: 2.5rem;
    width: 120rem;
    height: 69rem;
    box-shadow: 0 0 20px 5px #4ad0a6;

    & h1 {
      color: #004b78;
      font-size: 3rem;

      & span {
        color: #ffd000;
      }
    }

    & .planos-uva {
      display: flex;
      gap: 5rem;

      & .caixa-total-planos {
        display: flex;
        flex-flow: column;
        gap: 4rem;
        align-items: center;
        color: #4ad0a6;
        font-size: 2.4rem;
        font-weight: 700;

        & .caixa-planos {
          background-color: white;
          box-shadow: 0 0 20px 5px rgba(128, 128, 128, 0.473);
          width: 25rem;
          height: 25rem;
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          border-radius: 2.5rem;
          gap: 1rem;

          &:hover {
            box-shadow: 0 0 20px 5px #ffd000;
            cursor: pointer;
            transform: scale(1.1);
          }

          & .p1 {
            font-size: 1.6rem;
            color: #004b78;
            text-decoration: none;
          }

          & .p2 {
            font-size: 2.5rem;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
              sans-serif;
            letter-spacing: 0.5rem;
            font-weight: bold;
            color: black;
            align-items: center;
          }

          & .p3 {
            color: #004b78;
            font-size: 1.6rem;
            text-align: center;
          }

          & .p4 {
            color: black;
            font-size: 1.4rem;
          }
        }
      }
    }

    & .botao-enviar {
      color: #004b78;
      padding: 1.5rem 3rem;
      border-radius: 3rem;
      border: none;
      background-color: #ffd000;
      font-size: 1.8rem;
      text-transform: uppercase;
      font-weight: 700;
      margin-top: 0.5rem;
      cursor: pointer;
      border-bottom: solid 0.4rem #004b78;
      border-right: solid 0.4rem #004b78;
      border-top: 0;
      border-left: 0;
    }

    & .botao-enviar:hover {
      color: #004b78;
      padding: 1.5rem 3rem;
      border-radius: 3rem;
      border: none;
      background-color: #ffd000;
      font-size: 1.8rem;
      text-transform: uppercase;
      font-weight: 700;
      margin-top: 2rem;
      cursor: pointer;
    }

    & .botao-enviar:active {
      color: #ffd000;
      padding: 1.5rem 3rem;
      border-radius: 3rem;
      border: none;
      background-color: #004b78;
      font-size: 1.8rem;
      text-transform: uppercase;
      font-weight: 700;
      margin-top: 2rem;
      cursor: pointer;
    }
  }
}